html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #888888;
  background-color: #282828;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.title {
  margin: 0;
  padding: 0;
}

.text {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  outline: none;
}

.slick-slide {
  outline: none;
  outline-color: transparent;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: red;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container.header {
  padding-left: 10px;
  padding-right: 10px;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: #282828;
}

@-webkit-keyframes rotateIcon {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateIcon {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
}

.logo .icon {
  display: block;
  width: 21px;
  height: 21px;
  margin-right: 7px;
  fill: #ffc2cc;
  -webkit-animation-name: rotateIcon;
          animation-name: rotateIcon;
  -webkit-animation-duration: 10000ms;
          animation-duration: 10000ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.logo .title.brand {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  -webkit-transform: translateY(-1.5px);
          transform: translateY(-1.5px);
  color: #bbbbbb;
}

.product-link {
  color: #80cbe5;
}

.slider-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 46px;
}

@media screen and (min-width: 1366px) {
  .slider-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1440px) {
  .slider-wrapper .slider {
    width: 1440px;
  }
}

.slider-wrapper .slick-list {
  overflow: hidden;
}

@media screen and (min-width: 480px) {
  .slider-wrapper .arrows-wrap {
    position: absolute;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 30vh;
    min-height: 160px;
    padding-top: 5px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .slider-wrapper .arrows-wrap {
    height: 23vh;
    min-height: 230px;
    padding-top: 25px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .slider-wrapper .arrows-wrap {
    padding-right: 40px;
  }
}

.slider-wrapper .arrows-wrap .slick-arrow {
  width: 60px;
  height: 60px;
  font-size: 0;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  .slider-wrapper .arrows-wrap .slick-arrow {
    width: 70px;
    height: 70px;
  }
}

@media screen and (min-width: 1024px) {
  .slider-wrapper .arrows-wrap .slick-arrow {
    width: 90px;
    height: 90px;
  }
}

.slider-wrapper .arrows-wrap .slick-arrow.slick-disabled {
  opacity: 0.1;
}

.slider-wrapper .arrows-wrap .slick-arrow.slick-prev {
  left: 0;
  background-image: url("../images/arrow-top.svg");
  background-repeat: no-repeat;
  background-size: 13px;
  background-position: center;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .slider-wrapper .arrows-wrap .slick-arrow.slick-prev {
    background-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .slider-wrapper .arrows-wrap .slick-arrow.slick-prev {
    background-size: 25px;
  }
}

.slider-wrapper .arrows-wrap .slick-arrow.slick-next {
  right: 0;
  background-image: url("../images/arrow-bottom.svg");
  background-repeat: no-repeat;
  background-size: 13px;
  background-position: center;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .slider-wrapper .arrows-wrap .slick-arrow.slick-next {
    background-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .slider-wrapper .arrows-wrap .slick-arrow.slick-next {
    background-size: 25px;
  }
}

.slider {
  width: 100%;
  min-width: 0;
}

.slider .slick-track .track-item {
  position: relative;
  height: calc(100vh - 46px);
}

.slider .slick-track .track-item .prod-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .slider .slick-track .track-item .prod-thumb {
    height: 68vh;
  }
}

@media screen and (min-width: 768px) {
  .slider .slick-track .track-item .prod-thumb {
    height: 100vw;
  }
}

.slider .slick-track .track-item .prod-thumb .image.prod {
  height: 110%;
  width: auto;
}

.slider .slick-track .track-item .prod-meta {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding-top: 20px;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 30px;
  background-color: #282828;
}

@media screen and (min-width: 360px) {
  .slider .slick-track .track-item .prod-meta {
    height: 28vh;
  }
}

@media screen and (min-width: 375px) {
  .slider .slick-track .track-item .prod-meta {
    height: 32vh;
    min-height: 160px;
  }
}

@media screen and (min-width: 414px) {
  .slider .slick-track .track-item .prod-meta {
    height: 30vh;
  }
}

@media screen and (min-width: 480px) {
  .slider .slick-track .track-item .prod-meta {
    padding-right: 80px;
  }
}

@media screen and (min-width: 768px) {
  .slider .slick-track .track-item .prod-meta {
    height: 23vh;
    min-height: 230px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 120px;
  }
}

@media screen and (min-width: 1024px) {
  .slider .slick-track .track-item .prod-meta {
    min-height: 260px;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 150px;
  }
}

.slider .slick-track .track-item .prod-meta .title.prod {
  position: relative;
  left: -15px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.2;
  color: #ffc2cc;
  opacity: 0;
  -webkit-transition: opacity 800ms cubic-bezier(0.4, 0, 0.2, 1) 300ms, -webkit-transform 700ms cubic-bezier(0.4, 0, 0.2, 1) 300ms;
  transition: opacity 800ms cubic-bezier(0.4, 0, 0.2, 1) 300ms, -webkit-transform 700ms cubic-bezier(0.4, 0, 0.2, 1) 300ms;
  transition: opacity 800ms cubic-bezier(0.4, 0, 0.2, 1) 300ms, transform 700ms cubic-bezier(0.4, 0, 0.2, 1) 300ms;
  transition: opacity 800ms cubic-bezier(0.4, 0, 0.2, 1) 300ms, transform 700ms cubic-bezier(0.4, 0, 0.2, 1) 300ms, -webkit-transform 700ms cubic-bezier(0.4, 0, 0.2, 1) 300ms;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (min-width: 375px) {
  .slider .slick-track .track-item .prod-meta .title.prod {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .slider .slick-track .track-item .prod-meta .title.prod {
    font-size: 28px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .slider .slick-track .track-item .prod-meta .title.prod {
    font-size: 32px;
    margin-bottom: 20px;
  }
}

.slider .slick-track .track-item .prod-meta .text.prod {
  position: relative;
  left: -15px;
  display: block;
  color: #888888;
  opacity: 0;
  -webkit-transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1) 300ms, -webkit-transform 900ms cubic-bezier(0.4, 0, 0.2, 1) 300ms;
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1) 300ms, -webkit-transform 900ms cubic-bezier(0.4, 0, 0.2, 1) 300ms;
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1) 300ms, transform 900ms cubic-bezier(0.4, 0, 0.2, 1) 300ms;
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1) 300ms, transform 900ms cubic-bezier(0.4, 0, 0.2, 1) 300ms, -webkit-transform 900ms cubic-bezier(0.4, 0, 0.2, 1) 300ms;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .slider .slick-track .track-item .prod-meta .text.prod {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .slider .slick-track .track-item .prod-meta .text.prod {
    font-size: 24px;
  }
}

.slider .slick-track .track-item.slick-current .title.prod {
  opacity: 1;
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
}

.slider .slick-track .track-item.slick-current .text.prod {
  opacity: 1;
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
}

.slider .slick-track .track-item.order-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 100px;
  background-color: #ffc2cc;
}

@media screen and (min-width: 768px) {
  .slider .slick-track .track-item.order-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.slider .slick-track .track-item.order-wrap .prod-order {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .slider .slick-track .track-item.order-wrap .prod-order {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.slider .slick-track .track-item.order-wrap .prod-order .title.order {
  font-size: 28px;
  margin-bottom: 20px;
  color: #282828;
}

.slider .slick-track .track-item.order-wrap .prod-order .text.order {
  font-size: 16px;
  margin-bottom: 30px;
  color: #888888;
}

.slider .slick-track .track-item.order-wrap .prod-order .button.order {
  padding: 20px 50px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffc2cc;
  border-radius: 4px;
  background-color: #282828;
}

.slider .slick-track .track-item.order-wrap .prod-order .button.order:hover, .slider .slick-track .track-item.order-wrap .prod-order .button.order:focus {
  outline: none;
}

@media screen and (min-width: 1024px) {
  .slider .slick-track .track-item.order-wrap .prod-order .button.order:hover, .slider .slick-track .track-item.order-wrap .prod-order .button.order:focus {
    background-color: #fa6d84;
  }
}

@media screen and (orientation: landscape) {
  .slider-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slider-wrapper .slider .slick-track .track-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 270px;
    max-height: 750px;
  }
  .slider-wrapper .slider .slick-track .track-item .prod-thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    height: 100%;
  }
  .slider-wrapper .slider .slick-track .track-item .prod-thumb .image.prod {
    width: auto;
    height: 120%;
  }
  .slider-wrapper .slider .slick-track .track-item .prod-meta {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
    height: 100%;
    padding-top: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (orientation: landscape) and (min-width: 568px) {
  .slider-wrapper .slider .slick-track .track-item .prod-meta {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (orientation: landscape) and (min-width: 812px) {
  .slider-wrapper .slider .slick-track .track-item .prod-meta {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (orientation: landscape) and (min-width: 1024px) {
  .slider-wrapper .slider .slick-track .track-item .prod-meta {
    padding-left: 90px;
    padding-right: 90px;
  }
}

@media screen and (orientation: landscape) and (min-width: 1280px) {
  .slider-wrapper .slider .slick-track .track-item .prod-meta {
    padding-left: 110px;
    padding-right: 110px;
  }
}

@media screen and (orientation: landscape) {
  .slider-wrapper .slider .slick-track .track-item .prod-meta .title.prod {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@media screen and (orientation: landscape) and (min-width: 667px) {
  .slider-wrapper .slider .slick-track .track-item .prod-meta .title.prod {
    font-size: 22px;
  }
}

@media screen and (orientation: landscape) and (min-width: 812px) {
  .slider-wrapper .slider .slick-track .track-item .prod-meta .title.prod {
    font-size: 26px;
  }
}

@media screen and (orientation: landscape) and (min-width: 1024px) {
  .slider-wrapper .slider .slick-track .track-item .prod-meta .title.prod {
    font-size: 42px;
    margin-bottom: 30px;
    line-height: 1.1;
    font-weight: 500;
  }
}

@media screen and (orientation: landscape) and (min-width: 1366px) {
  .slider-wrapper .slider .slick-track .track-item .prod-meta .title.prod {
    font-size: 52px;
  }
}

@media screen and (orientation: landscape) {
  .slider-wrapper .slider .slick-track .track-item .prod-meta .text.prod {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@media screen and (orientation: landscape) and (min-width: 1024px) {
  .slider-wrapper .slider .slick-track .track-item .prod-meta .text.prod {
    -webkit-line-clamp: 5;
  }
}

@media screen and (orientation: landscape) {
  .slider-wrapper .slider .slick-track .track-item.order-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 40px;
  }
}

@media screen and (orientation: landscape) and (max-width: 666px) {
  .slider-wrapper .slider .slick-track .track-item.order-wrap .prod-order {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (orientation: landscape) and (min-width: 667px) {
  .slider-wrapper .slider .slick-track .track-item.order-wrap .prod-order {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (orientation: landscape) {
  .slick-track > .track-item:nth-child(2n) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .slider-wrapper {
    position: relative;
  }
  .slider-wrapper .arrows-wrap {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100px;
    padding-bottom: 6px;
    padding-right: 0;
  }
}

@media screen and (orientation: landscape) and (min-width: 480px) {
  .slider-wrapper .arrows-wrap {
    height: auto;
    min-height: auto;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
}

@media screen and (orientation: landscape) and (min-width: 768px) {
  .slider-wrapper .arrows-wrap {
    padding-top: 0px;
    padding-right: 0px;
  }
}

@media screen and (orientation: landscape) and (min-width: 1024px) {
  .slider-wrapper .arrows-wrap {
    width: 120px;
  }
}

@media screen and (orientation: landscape) {
  .slider-wrapper .arrows-wrap .slick-arrow {
    width: 30px;
    height: 30px;
    font-size: 0;
    z-index: 10;
  }
}

@media screen and (orientation: landscape) and (min-width: 1024px) {
  .slider-wrapper .arrows-wrap .slick-arrow {
    width: 50px;
    height: 50px;
  }
}

@media screen and (orientation: landscape) {
  .slider-wrapper .arrows-wrap .slick-arrow.slick-disabled {
    opacity: 0.1;
  }
  .slider-wrapper .arrows-wrap .slick-arrow.slick-prev {
    left: 0;
    background-image: url("../images/arrow-top.svg");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
    background-color: transparent;
  }
}

@media screen and (orientation: landscape) and (min-width: 480px) {
  .slider-wrapper .arrows-wrap .slick-arrow.slick-prev {
    background-size: 10px;
  }
}

@media screen and (orientation: landscape) and (min-width: 1024px) {
  .slider-wrapper .arrows-wrap .slick-arrow.slick-prev {
    background-size: 13px;
  }
}

@media screen and (orientation: landscape) {
  .slider-wrapper .arrows-wrap .slick-arrow.slick-next {
    right: 0;
    background-image: url("../images/arrow-bottom.svg");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
    background-color: transparent;
  }
}

@media screen and (orientation: landscape) and (min-width: 480px) {
  .slider-wrapper .arrows-wrap .slick-arrow.slick-next {
    background-size: 10px;
  }
}

@media screen and (orientation: landscape) and (min-width: 1024px) {
  .slider-wrapper .arrows-wrap .slick-arrow.slick-next {
    background-size: 13px;
  }
}

.dots-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 7px;
  width: 100%;
  padding: 2px;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.slick-dots li {
  width: calc(100% / 5);
  list-style: none;
}

.slick-dots li.slick-active button {
  opacity: 1;
  -webkit-transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1) 1000ms;
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1) 1000ms;
}

.slick-dots li.slick-active button:focus {
  outline: none;
}

.slick-dots li button {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffc2cc;
  opacity: 0;
  font-size: 0;
  -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1) 1000ms;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1) 1000ms;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 41px);
  margin-top: 41px;
  background-color: rgba(135, 206, 235, 0.5);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
  opacity: 0;
}

.backdrop .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  background-color: thistle;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .modal .close-modal {
  width: 40px;
  height: 40px;
  margin-bottom: 100px;
}

.slider-form .form-field {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.slider-form .form-field .form-label {
  position: absolute;
  top: 50%;
  left: 40px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 200ms linear;
  transition: -webkit-transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear;
}

.slider-form .form-field .form-input {
  width: 100%;
  margin: 0;
  padding: 10px 20px;
  padding-left: 40px;
  font: inherit;
  border-radius: 3px;
  border: 1px solid #2a2a2a;
}

.slider-form .form-field .field-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: slateblue;
}

.slider-form .form-field:focus-within > .field-icon {
  background-color: royalblue;
}

.slider-form .form-field:focus-within > .form-label,
.slider-form .form-field .form-input:not(:placeholder-shown) + .form-label {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}
/*# sourceMappingURL=main.css.map */