html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.title {
  line-height: 1.1;
  margin: 0;
  padding: 0;
}

.text {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
}

.relative {
  position: relative;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: red;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ccc;
}

.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #757575;
  text-decoration: none;
  border-radius: 3px;
}

.logo .icon {
  display: block;
  margin-right: 5px;
  fill: #ffc2cc;
  -webkit-transform: rotateZ(17deg);
          transform: rotateZ(17deg);
}

.logo .title.brand {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.product-link {
  color: #80cbe5;
}

.wrapper {
  background-color: red;
}

.slider {
  position: relative;
}

.slick-list {
  background-color: pink;
  overflow: hidden;
}

.slick-track {
  background-color: green;
  display: block;
}

.slick-track > .slider__item {
  background-color: #151516;
  height: 100vh;
}

.slick-track > .slider__item.slick-current .slide-title {
  opacity: 1;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.slick-track > .slider__item.slick-center {
  opacity: 1;
}

.slick-track > .slider__item .slide-title {
  position: relative;
  display: block;
  width: 90%;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 1.1;
  color: pink;
  opacity: 0;
  -webkit-transition: opacity 700ms ease 500ms, -webkit-transform 1000ms ease 200ms;
  transition: opacity 700ms ease 500ms, -webkit-transform 1000ms ease 200ms;
  transition: opacity 700ms ease 500ms, transform 1000ms ease 200ms;
  transition: opacity 700ms ease 500ms, transform 1000ms ease 200ms, -webkit-transform 1000ms ease 200ms;
}

.slick-track > .slider__item .text {
  position: relative;
  color: #999;
  left: 20px;
}

.slick-track > .slider__item.order-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-track > .slider__item.order-wrap > .order {
  width: 60%;
  text-align: center;
  color: #fff;
}

.slick-track > .slider__item.order-wrap > .order > .title {
  font-size: 34px;
  margin-bottom: 20px;
}

.slick-track > .slider__item.order-wrap > .order > .text {
  font-size: 18px;
  margin-bottom: 20px;
}

.slick-track > .slider__item.order-wrap > .order > .button {
  padding: 15px 35px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: pink;
}

.slick-track > .slider__item.order-wrap > .order > .button:hover, .slick-track > .slider__item.order-wrap > .order > .button:focus {
  background-color: tomato;
  outline: none;
}

.slick-track > .slider__item > .image {
  width: 100%;
  margin-bottom: 20px;
}

.arrows-wrap .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 50px;
  font-size: 0;
  z-index: 10;
}

.arrows-wrap .slick-arrow:focus {
  outline: none;
}

.arrows-wrap .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.arrows-wrap .slick-arrow.slick-prev {
  left: 0;
  background-image: url("../images/arrow-bottom.svg");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  background-color: transparent;
}

.arrows-wrap .slick-arrow.slick-next {
  right: 0;
  background-image: url("../images/arrow-top.svg");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  background-color: transparent;
}

.dots-wrap {
  position: fixed;
  top: 0;
}

.dots-wrap .slick-dots {
  padding: 0;
  margin: 0;
}

.dots-wrap .slick-dots > li {
  list-style: none;
  height: calc(100vh / 5);
}

.dots-wrap .slick-dots > li.slick-active button {
  background-color: rgba(255, 192, 203, 0.7);
  -webkit-transition: all 1000ms ease 300ms;
  transition: all 1000ms ease 300ms;
  border-radius: 2px;
}

.dots-wrap .slick-dots > li.slick-active button:focus {
  outline: none;
  -webkit-transition: all 1000ms ease 250ms;
  transition: all 1000ms ease 250ms;
}

.dots-wrap .slick-dots button {
  display: block;
  width: 4px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 0;
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .wrapper {
    background-color: yellow;
  }
}

@media screen and (min-width: 1200px) {
  .slider {
    max-width: 1000px;
    margin: 0 auto;
  }
  .slider .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .slider .slick-track .slider__item > .image {
    width: 600px;
  }
}

@media screen and (orientation: landscape) {
  .slick-track .slider__item > .image {
    width: 100vh;
  }
}
/*# sourceMappingURL=main.css.map */