.slider-form {
  .form-field {
    position: relative;
    display: block;
    margin-bottom: 20px;

    .form-label {
      position: absolute;
      top: 50%;
      left: 40px;
      transform: translateY(-50%);
      transition: transform 200ms linear;
    }

    .form-input {
      width: 100%;
      margin: 0;
      padding: 10px 20px;
      padding-left: 40px;
      font: inherit;
      border-radius: 3px;
      border: 1px solid #2a2a2a;
    }

    .field-icon {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: slateblue;
    }

    &:focus-within > .field-icon {
      background-color: royalblue;
    }

    &:focus-within > .form-label,
    .form-input:not(:placeholder-shown) + .form-label {
      transform: translateY(-50px);
    }
  }
}

// Form plugin

.js-validate-error-label {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  padding-right: 20px;
}
