@keyframes rotateIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// ======== Header logo ========

.logo {
  display: inline-flex;
  align-items: baseline;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;

  color: $primary-text-color;
  text-decoration: none;

  .icon {
    display: block;
    width: 21px;
    height: 21px;
    margin-right: 7px;
    fill: $accent-colot;
    // transform: rotateZ(17deg);

    animation-name: rotateIcon;
    animation-duration: 10000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .title.brand {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    transform: translateY(-1.5px);
    color: #999;
  }
}

// ======== Media 768 ========

// @media screen and (min-height: 768px) {
//   .logo {
//     .icon {
//     }
//   }
// }
