.slider-wrapper {
  background-color: red;
}

// Slider

.slider {
  position: relative;
}

// Shell

.slick-list {
  background-color: pink;
  overflow: hidden;
}

// Track

.slick-track {
  background-color: green;
  display: block;

  // Item

  > .slider__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 40px);
    background-color: #282828;

    & .image.prod {
      width: 100%;
    }

    & .prod-meta {
      height: 100%;
      padding: 20px;

      & .title.prod {
        position: relative;
        left: -20px;
        display: block;
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 1.1;
        color: pink;
        opacity: 0;
        transition: opacity 700ms $timing-function 300ms,
          transform 800ms $timing-function 100ms;
      }

      & .text.prod {
        position: relative;
        left: -20px;
        display: block;
        color: #999;
        opacity: 0;
        transition: opacity 700ms $timing-function 300ms,
          transform 800ms $timing-function 100ms;

        // ...

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    &.slick-current {
      & .title.prod {
        opacity: 1;
        transform: translateX(20px);
      }

      & .text.prod {
        opacity: 1;
        transform: translateX(20px);
      }
    }

    // Order

    &.order-wrap {
      padding-top: 23vh;

      // @include flex();

      & .order {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;

        & .title.order {
          font-size: 28px;
          margin-bottom: 20px;
          color: #fff;
        }

        & .text.order {
          font-size: 16px;
          margin-bottom: 30px;
          color: #999;
        }

        & .button.order {
          padding: 20px 50px;
          font-size: 18px;
          font-weight: 700;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: #282828;
          border-radius: 4px;
          background-color: pink;

          &:hover,
          &:focus {
            outline: none;
            background-color: rgb(250, 109, 132);
          }
        }
      }
    }
  }
}

// Arrows

.arrows-wrap .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  // width: 150px;
  // height: 130px;
  padding: 50px;
  font-size: 0;
  z-index: 10;

  &:focus {
    outline: none;
  }

  &.slick-disabled {
    opacity: 0.2;
  }

  &.slick-prev {
    left: 0;
    // padding: 50px;
    background-image: url("../images/arrow-bottom.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    background-color: transparent;
  }

  &.slick-next {
    right: 0;
    // padding: 30px;
    background-image: url("../images/arrow-top.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    background-color: transparent;
  }
}

// Dots

.dots-wrap {
  position: fixed;
  top: 42px;
  left: 0;
  // height: 10px;
  padding: 2px;

  // left: 5px;
  // transform: rotate(90deg);
  // transform-origin: left;
  // background-color: tomato;
  .slick-dots {
    display: flex;
    flex-direction: column-reverse;

    // @include flex();

    padding: 0;
    margin: 0;

    > li {
      list-style: none;
      height: calc((100vw - 4px) / 5);
      // margin: 0px 10px;

      &.slick-active button {
        background-color: rgba(255, 192, 203, 1);
        // border: 2px solid #fff;
        transition: all 1000ms ease 300ms;
        border-radius: 1px;
      }

      &.slick-active button:focus {
        outline: none;
        // transition: all 1000ms ease 250ms;
      }

      button {
        display: block;
        width: 3px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        font-size: 0;
        // border-radius: 50%;
        cursor: pointer;
        // transition: all 250ms ease 500ms;
      }
    }
  }
}

// Media 678

@media screen and (min-width: 768px) {
  .wrapper {
    @media screen and (max-width: 1199px) {
      background-color: yellow;
    }
  }
}

// Media 1200
@media screen and (min-width: 1200px) {
  .slider {
    max-width: 1000px;
    margin: 0 auto;

    .slick-track {
      display: flex;
      .slider__item > .image {
        width: 600px;
      }
    }
  }
}

@media screen and (orientation: landscape) {
  .slick-track {
    .slider__item > .image {
      width: 100vh;
    }
  }
}

// // // Image // .slide-image { // width: 100%; // // outline: none; // } // // Ограничивающая оболочка // .slick-list { // overflow: hidden; // } // Лента слайдов .slick-track { // display: flex; // align-items: flex-start; // } // // // Конкретный слайдер // .slider { // position: relative; // height: 100vh; // padding: 0px 0px; // .slider__item { // width: 100%; // height: 100vh; // } // } // .slider .slick-track { // display: block; // } // // // Arrows // // .slider .slick-arrow { // // position: absolute; // // top: 50%; // // z-index: 10; // // width: 30px; // // height: 60px; // // border: none; // // font-size: 0; // // transform: translate(-50%, -50%) ; // // outline: none; // // cursor: pointer; // // } // // .slider .slick-arrow.slick-prev { // // left: 0; // // background: url("../images/sl-arrow_l.svg") 0 0 / 100% no-repeat; // // } // // .slider .slick-arrow.slick-next { // // right: 0; // // background: url("../images/sl-arrow_r.svg") 0 0 / 100% no-repeat; // // } // // // Точки // // .slider .slick-dots { // // @include flex() ; // // padding: 0; // // } // // .dots-wrap .slick-dots li { // // list-style: none; // // margin: 0px 10px; // // &.slick-active button { // // background-color: transparent; // // border: 2px solid #fff; // // &:focus,
// // &:hover,
// // &:active { // // outline: none; // // } // // } // // } // // .dots-wrap .slick-dots button { // // width: 10px; // // height: 10px; // // // padding: 0; // // background-color: #fff; // // font-size: 0; // // border: none; // // border-radius: 50%; // // } // // // Item // .slider__item { // @include flex() ; // height: 294px; // opacity: 0.4; // @include transition(opacity) ; // } // .slider__item.slick-center { // opacity: 1; // } // // // Sliderbig // // // .sliderbig__item { // // // @include flex; // // // };
