// Color

$primary-text-color: #757575;
$secondary-text-color: #212121;
$accent-colot: #ffc2cc;
$accent-secondary-color: #80cbe5;
$primary-white-color: #ffffff;

// Animation

$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
