// Fonts

$primary-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

// Color

$logo-text-color: #bbbbbb;
$primary-text-color: #888888;
$accent-color: #ffc2cc;
$hover-accent-color: #fa6d84;
$accent-secondary-color: #80cbe5;
$primary-white-color: #ffffff;
$primary-black-color: #282828;

// Elements

$input-color: rgba(187, 187, 187, 0.5);
$header-bg: rgba(40, 40, 40, 1);
$prod-meta-bg: rgba(40, 40, 40, 0.3);
$prod-meta-text-color: rgba(255, 255, 255, 0.8);

// Animation

$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
