// Color

$logo-text-color: #bbbbbb;
$primary-text-color: #888888;
$accent-color: #ffc2cc;
$hover-accent-color: #fa6d84;
$accent-secondary-color: #80cbe5;
$primary-white-color: #ffffff;
$primary-black-color: #282828;

// Animation

$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
